@import 'assets/css/mixins';

.notification-bell {
  position: relative;
  cursor: pointer;

  &__event-list {
    position: absolute;
    display: none;

    &.shown {
      display: block;
      @include animation(fade-in);
    }

    &.closing {
      @include animation(fade-out);
    }
  }

}
