@import 'src/assets/css/colors';
@import 'src/assets/css/mixins';

.text-input {
  border: 1px solid $grey-6;
  border-radius: 4px;
  padding: .3em .5em;
  background-color: $grey-0;
  position: relative;

  &__error {
    position: absolute;
    visibility: hidden;
    color: $error-color;
    font-size: .8rem;
  }

  &__field {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
  }

  &.is-error {
    border-color: $error-color;

    .text-input__error {
      visibility: visible;
      @include animation(fade-in);
      bottom: -16px;
    }
  }
}
