@import 'assets/css/colors';

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  background-color: $grey-1;
  min-height: 100vh;
}
